
.idea/vcs.xml
supervised/__pycache__/neural_network_regression.cpython-39.pyc
misc/__pycache__/utils.cpython-39.pyc
.idea/vcs.xml
.idea/vcs.xml
supervised/__pycache__/neural_network_binary_classification.cpython-39.pyc
data_preprocessing/__pycache__/normalization.cpython-39.pyc
data_preprocessing/__pycache__/one_hot_encoding.cpython-39.pyc
supervised/__pycache__/neural_network_multi_class_classification.cpython-39.pyc
supervised/__pycache__/neural_network_multi_label_classification.cpython-39.pyc
data_preprocessing/__pycache__/class_weighting.cpython-39.pyc
test_main.py
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data_preprocessing/class_weighting.py
data_preprocessing/normalization.py
supervised/__pycache__/convolutional_neural_network_multi_class_classification.cpython-39.pyc
data_preprocessing/.ipynb_checkpoints/data_augmentation_image-checkpoint.ipynb
main/data/*
*.pyc
data/*